<!--<ul>
    {{#each data}}
    <li>{{this.total}}</li>
    <li>{{this.name}}</li>
    <li>{{this.quantity}}</li>
    {{/each}}
</ul> -->

<table class="table table-dark">
  <thead>
    <tr>
    
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
      {{#each data}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.total}}</td>
      <td>
        <form action="/discard/{{this._id}}" method="POST" style=" display:inline!important;">
           <button type="submit" class="btn btn-primary">Discard</button>
        </form> 
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>




<form action="/payment" method="post">
    <label for="Card Number"></label>
    <button>Pay</button>
</form>