{{#if user}}
<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" href="/">Home</a>
    </li>
  </ul>
   <a class="nav-link text-white" href="/checkout">Checkout</a>
   <a class="nav-link text-white" href="/logout">Logout</a>
   <a class="nav-link text-white" href="/history">Payment History</a>
</nav>
{{else}}
<nav class="navbar navbar-expand-sm bg-dark">
<ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link text-white" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/signup">Signup</a>
    </li>
</ul>
</nav>
{{/if}}
<div class = "details">
<img src="{{data.image_url}}" alt="beer-image" class ="details-image">
<h1>{{data.name}}</h1>
<h2>{{data.tagline}}</h2>
<p class = "detail-text">{{data.description}}</p>
</div>
